:root {
  --primary-color: #D4A017;
  --secondary-color: #4C9B8C;
  --tertiary-color: #D0C9C0;
  --accent-color: #D95D5D;
  --text-color: #F0E9D2;
  --background-color: #1B2D2A;
  --header-footer-color: #007BFF;
  --button-color: #00796B;
  --button-hover-color: #004D40;
  --list-item-bg: #ddd;
  --input-bg: #333;
  --input-border-color: #666;
  --input-focus-color: #007BFF;
}


.header {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--primary-color);
  position: relative;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hamburger, .close-x {
  display: block;
  font-size: 30px;
  cursor: pointer;
  color: var(--primary-color);
  position: absolute;
  top: 20px;
  right: 20px;
}

.close-x {
  display: none;
  z-index: 4;
}

.menu-toggle {
  display: none;
}

nav ul {
  display: none;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translateX(-50%);
  background-color: var(--input-bg);
  width: 100%;
  animation: slideIn 0.3s ease-out;
  z-index: 3;
}

ul li {
  box-shadow: none;
  background-color: var(--input-bg);
}

.menu-toggle:checked + .hamburger + .close-x + ul {
  display: flex;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  white-space: nowrap;
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
    transform: translateX(75%);
  }
  to {
    transform: translateY(0);
    transform: translateX(-50%);
  }
}

.menu-toggle:checked + .hamburger {
  display: none;
}

.menu-toggle:checked + .hamburger + .close-x {
  display: block;
}

/* Tablet and larger screens */
@media (min-width: 768px) {
  nav ul {
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: transparent;
    width: auto;
  }

  .hamburger, .close-x {
    display: none;
  }


  ul li {
    margin-right: 0;
    padding-right: 10px;
    background-color: transparent;

  }

  ul li a {
    color: var(--primary-color);
    white-space: nowrap;
  }
}