:root {
  --primary-color: #D4A017;
  --secondary-color: #4C9B8C;
  --tertiary-color: #D0C9C0;
  --accent-color: #D95D5D;
  --text-color: #F0E9D2;
  --background-color: #1B2D2A;
  --header-footer-color: #007BFF;
  --button-color: #00796B;
  --button-hover-color: #004D40;
  --list-item-bg: #ddd;
  --input-bg: #333;
  --input-border-color: #666;
  --input-focus-color: #007BFF;
}
 
#watchlist {
  margin-top: 20px;
  width: 100%;
  max-width: 400px;
}

.watchlist-item {
  background-color: var(--list-item-bg);
  padding: 15px;
  margin-top: 10px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Tablet and larger screens */
@media (min-width: 768px) {
  .watchlist-item {
    background-color: var(--background-color);
    padding: 15px;
    margin-top: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .movie-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto;
    max-width: 1200px;
  }
}